<form action="/login" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password" size="13">
  <input type="submit" value="Log In"><br>
</form>
<br>
<form action="/signup" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password" size="13">
  <input type="submit" value="Sign up"><br>
</form>